body {text-align: center;}
body nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body nav a {
    margin: 0 auto;
    width: 1600px;
    background {
        height: 725px;
    }
    text-decoration: none;
    border-radius: 10px;
    body {
        background-color: #fcfbfb; 
    }
    header {
        background-color:rgba(20,30,13, .7);
    }
    nav a:hover {
        background-color: black;
    }
}
body nav a:hover {
    transform: scale(1.1);
    background-color: rgba(245, 219, 203, .85);
}